body {
  margin: 25px;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-image: url('car1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.CARIMAGEONE{
  
}
.imgOne {
  border: 5px solid #555;
}
